aniso8601==9.0.1
anyio==3.3.3
app==0.0.1
apturl==0.5.2
asgiref==3.4.1
attrs==21.2.0
bcrypt==3.1.7
blinker==1.4
branca==0.4.2
Brlapi==0.7.0
cached-property==1.5.2
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==8.0.1
colorama==0.4.3
command-not-found==0.3
config==0.5.1
cryptography==2.8
cupshelpers==1.0
dbus-python==1.2.16
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.2.8
dnspython==1.16.0
duplicity==0.8.12.0
email-validator==1.1.3
entrypoints==0.3
fastapi==0.70.0
fasteners==0.14.1
Flask==2.0.1
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.9
flask-restful-url-generator==0.0.4
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.15.1
folium==0.12.1
forms2==1.1.2
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
gunicorn==20.0.4
h11==0.12.0
httplib2==0.14.0
idna==2.8
isodate==0.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==18.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lxml==4.6.3
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.0.1
monotonic==1.5
mysql-client==0.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.26
mysqlclient==1.4.4
netifaces==0.10.4
numpy==1.21.2
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
paramiko==2.6.0
pexpect==4.6.0
Pillow==7.0.0
platformdirs==2.4.0
protobuf==3.6.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycups==1.9.73
pydantic==1.8.2
PyDrive==1.3.1
PyGObject==3.36.0
PyJWT==2.3.0
pymacaroons==0.13.0
PyMySQL==1.0.2
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyRFC3339==1.1
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-file==1.5.1
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
rsa==4.0
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
SQLAlchemy==1.3.12
sqlparse==0.4.2
ssh-import-id==5.10
starlette==0.16.0
systemd-python==234
twilio==7.2.0
typing-extensions==3.10.0.2
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.25.8
usb-creator==0.3.7
uvicorn==0.15.0
wadllib==1.3.3
Werkzeug==2.0.1
WTForms==2.3.3
xkit==0.0.0
zeep==4.1.0
